
* {
margin:0;
padding:0;
box-sizing:border-box;	
	
}
body {
	font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
.logo {
	width:70px;
	margin-right:20px;
}
header {
	background-color:white;
	position:sticky;
	top:0;
	display:flex;
	gap:100px;
	box-shadow:0px 1px 4px 0px gray;
	padding:20px 5px;
	font-weight:bold;
	
}
.sale {
	background-image:linear-gradient(to right, black, gray);
	color:white;
	font-size:27px;
	width:300px;
	text-align:center;
	padding:5px 0px;
	position:fixed;
	left:1170px;
	top:340px;
	z-index:2;
	transform:rotate(270deg);
	
}
.studio {
	margin-top:-4px;								
}
.menu{
	font-size:13px;
	margin-top:5px;
	display:flex;
	align-items:center;
	gap:35px;
}
.menu a {
	text-decoration:none;
	color:black;
	
}
.links {
	display:flex;
	margin-left:50px;
}
.searching {
	display:flex;

}
sup {
	color:#ff007f;
}
.searchbar {
	width:26vw;	
	margin-right:26px;
	height:27px;
	background-color:#f4f4f4;
	border-radius:7px;
	padding:20px 5px;
	border:2px solid white;
}
.section {
	display:flex;
	gap:38px;
	align-items:center;
   margin-left:40px;
	
}
.side-menu {
	font-size:18px;
}
.center h6 {
	position:absolute;
	right:135px;
}
.center-2 h6 {
	position:absolute;
	right:75px;
}
.center-3 h6 {
	position:absolute;
	right:33px;
}
.section a {
	text-decoration:none;
	color:black;
}
.main {
	display:flex;
	flex-direction:column;
	justify-content:center;
	
}
.code {
	margin:40px 80px;
	width:55vw;
	box-shadow:2px 2px 8px gray;
}
.hello {
	display:flex;
	justify-content:center;
	
}
.img {
	width:40vw;
}
.image {
	margin-top:-25px;
	display:flex;
	justify-content:center;
		
}

.imag {
	
	width:80vw;
}

.image-2 {
	display:flex;
	justify-content:center;
}
.hi {
	display:flex;
	justify-content:center;
	padding:20px 0px;
}
.me {
	width:600px;
	margin:30px 0px;				
}

.you {
	width:35vw;
}
.she {
	width:80vw;
}
.imag-parent{
	display:flex;
	justify-content:center;																																																																																																																																																																																																																				
}
.bell {
	width:50px;
	position:fixed;
	right:20px;
	bottom:80px;
}
.sup {
	background-color:orange;
	font-size:10px;
	width:25px;
	position:fixed;
	left:1315px;
	z-index:5;
	top:516px;
	padding:2px 3px;
	border-radius:2px;
}

.all-deals {
	display:flex;
	justify-content:center;
	gap:10px;
}
.all-deals img {
	cursor:pointer;
}
.category img {
	cursor:pointer;
}
.deal {
	width:210px;
	
}
.now {
	display:flex;
	justify-content:center;
}
.he {
	width:1200px;
	margin-top:40px;
	margin-bottom:20px;
}
.category {
	display:flex;
	justify-content:center;
	gap:20px;
	flex-direction:column;
}
.hyy{
	display:flex;
	justify-content:center;
	gap:20px;
}
.option {
	width:160px;
}
.image-3 {
	margin:10px 0px;
	display:flex;
	gap:80px;
	justify-content:center;
}
.shell {
	display:flex;
	justify-content:center;
}
.last {
	margin:20px 0px;
	width:80vw;
}
footer {
	padding:30px 150px;
	background-color:#f7fafc;
	display:flex;
	gap:40px;
}

.light a {
	text-decoration:none;
	color:#696b79;
}
.light {
	font-size:13px;
	display:flex;
	flex-direction:column;
	color:#696b79;
}
.title{
	font-size:12px;
	margin:25px 2px;
}
.up{
margin-bottom:3px;
}
.icon {
	font-size:28px;
	margin:0px 5px;
	color:#696b79;
}.mynta {
	width:65px;
	margin:25px 5px;
	
}
.row{
	display:flex;
}
.row-2{
	margin-top:25px;
}
.block {
	display:block;
}